:root {
   --primary-font:'Work Sans', sans-serif;
   --gray: #727272;
   --orange: #FF900E;
   --white:#ffff;
   --black:#131313;
   --cream:#FFF4E7;
   --dark-gray: #424242;
}

 * {
    box-sizing: border-box;
    margin:0;
    border:0;
 }

body{
   /* <!-- background-color: var(--light-gray); --> */
   font-family: var(--primary-font);
}
.btn{
   background-color: var(--orange);
   color: var(--white);
   width: 180px;
   height: 64px;
   cursor: pointer;
   border-radius: 8px;
}
/* <!-- Nav part start --> */

.container{
   width:100%;
   max-width: 1450px;
   margin:0 auto;
   padding: 0 25px;
   justify-content: space-between;
   align-items: center;
}
nav{
   display:flex;
   flex-wrap: wrap;
   height:100px;
   margin-top: 100px;
   margin-bottom: 50px;
   
}

nav > ul{
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   gap:25px;
}
.container-title {
   font-weight: 700;
   font-size: 45px;
   color:var(--black);
}
.nav-list {
   font-weight: 500;
   font-size: 18px;
   color:var(--dark-gray);
}
/* Introduction Part */
.introduction{
   text-align: center;
   padding: 2rem 25px;
}
.intro-title{
   font-weight: 700;
   font-size: 64px;
   color:var(--black);
}
.intro-details{
   font-weight: 400;
   font-size: 16px;
   color:var(--gray);
   margin-top: 30px;
   margin-bottom: 30px;
}
.banner-image{
   align-items: center;
   justify-content: center;
   height:700px;
   padding: 2rem 25px;
}

/* -------Explore Features---------- */
.features-imgs{
   display: flex;
   flex-wrap: wrap;
   text-align: left;
   padding: 2rm, 25px;
   justify-content: center;
   align-items: center;
   margin-top: 130px;
   gap:64px;
}

.feature-img{
   display:grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
   
}
.img-details{
   width: 342px;
   height: 342px;
   border-radius: 8px;
}
.feature-title{
   font-weight: 500;
   font-size: 45px;
   margin-bottom: 25px;
}
.feature-summary{
   font-weight: 400;
   font-size: 16px;
   margin-bottom: 25px;
   color:var(--gray)
}
/* ---------------Service Section----------- */
.service-title{
   font-weight: 700;
   font-size: 45px;
   color:var(--black);
   border-left: 4px solid var(--orange);
   margin-top: 80px;
   margin-bottom: 30px;
   padding-left:25px;
}
.sub-title{
   font-weight: 600;
   font-size: 20px;
   padding: 20px 20px 8px 15px;
   /* margin-bottom: 20px; */
   color:var(--black);
}
.small-desp{
   padding: 0 20px 20px 15px;
}
.service-intro{
   font-weight: 400;
   font-size: 16px;
   color:var(--gray);
   margin-bottom: 30px;
   text-align: justify;
}
.service-list{
   background-color: var(--white);
   box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
   height: 160px;
   border-radius: 8px;
   margin-bottom: 30px;
}
.service-section{
   display:flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-content: center;
}

.sr-img{
   /* width: 50%; */
   height: 95%;
   border-radius: 8px;
   margin-top: -200px;

}
.service-btn{
   width: 300px;
   height: 180px;
   background: var(--orange);
   border-radius: 8px;
   color: white;
   text-align: center;
   position: relative;
   margin-top: -80px;
   margin-left: -80px;
}
.btn-big-text{
   padding: 30px 20px 5px 20px;
   font-weight: 700;
   font-size: 55px;
   
}
.btn-small-text{
   font-weight: 500;
   font-size: 25px;
   color:var(--white);
}
/* -------------Facts------------- */

.fact-title{
   font-weight: 700;
   font-size: 45px;
   color:var(--black);
   
   padding:0 25px 25px 0; 
}
.fact{
   font-weight: 400;
   font-size: 16px;
   color:var(--gray);
   margin-bottom: 80px;
}
.icon{
   border: 1px solid #FF900E;
   border-radius: 8px;
   height: 160px;
   border-radius: 8px;
   text-align: center;
   padding: 25px; 
   margin-left: 30px;
   margin-bottom: 30px;
}
.fact-icons{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: start;
   gap: 124px;
}
.icone-title{
   font-weight: 600;
   font-size: 45px;
   color:var(--dark-gray)}
.award-name{
   font-weight: 600;
   font-size: 20px;
   color: var(--gray);
}
/* --------Sponser Section------- */
.sponser{
   text-align: center;
   margin-top: 70px;
   margin-bottom: 60px;
}

.logo{
   display:flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin-bottom: 100px;
}
/* ------Footer section------- */
.footer-section{
   text-align: center;
   height: 100px;
   background: #FFF4E7;
   border-radius: 8px;
   margin-bottom: 10%;
   align-items: center;
   padding: 35px;
}